<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Masala">
    <meta name="author" content="Masala,chao">

    <title>Masala</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Documentation extras -->
    <link href="{{ url_for('static',filename='css/docsearch.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/docs.min.css') }}" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/">Masala</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('logout') }}">退出</a>
                </li>
            </ul>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <!--左边栏-->
            <div class="col-md-3 col-xl-2 bd-sidebar">
                <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                    <div class="bd-toc-item active">
                        <div class="card" style="width: 18rem;">
                            <img src="{{ avatars.robohash('可不可以') }}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{ current_user.name }}</h5>
                                <p class="card-text">sdfada</p>
                                <a href="#" class="btn btn-primary">1</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>

            <!--右边栏-->
            <nav class="d-none d-xl-block col-xl-2 bd-toc" aria-label="Secondary navigation">
                <ul class="section-nav">
                    <li class="toc-entry toc-h2">右边栏</li>
                </ul>
            </nav>

            <!--中间-->
            <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">标题</h5>
                        <h6 class="card-subtitle mb-2 text-muted">副标题</h6>
                        <p class="card-text">一些内容</p>
                        <a href="#" class="card-link">评论</a>
                        <a href="#" class="card-link">举报</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>