<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Masala">
    <meta name="author" content="Masala,chao">

    <title>Masala</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Documentation extras -->
    <link href="{{ url_for('static',filename='css/docsearch.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='css/docs.min.css') }}" rel="stylesheet">
</head>

<body>
    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <a class="nav-link" href="/">Masala</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{ url_for('logout') }}">退出</a>
                </li>
            </ul>
        </div>
    </header>


    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-md-3 col-xl-2 bd-sidebar">
                <nav class="collapse bd-links" id="bd-docs-nav" aria-label="Main navigation">
                    <div class="bd-toc-item active">
                        <a class="bd-toc-link" href="/docs/4.5/getting-started/introduction/">
                            左边栏
                        </a>
                    </div>
                </nav>

            </div>


            <nav class="d-none d-xl-block col-xl-2 bd-toc" aria-label="Secondary navigation">
                <ul class="section-nav">
                    <li class="toc-entry toc-h2"><a href="#quick-start">右边栏</a>
                    </li>
                </ul>
            </nav>

            <main class="col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
</body>

</html>